<IfModule mod_rewrite.c>

    Options -MultiViews
    RewriteEngine On

    # Redirect Trailing Slashes...
    #RewriteRule ^(.*)/$ /$1 [L,R=301]

    RewriteRule ^snorql(.*)$ /ext/snorql$1 [L,R=301]
    #RewriteRule ^feeds(.*) feeds$1 [L]

    Options +FollowSymLinks

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
<IfModule mod_php5.c>
    php_value memory_limit 512M 
</IfModule>
