<IfModule mod_rewrite.c>
    	Options -MultiViews
    	RewriteEngine On
	
	RewriteRule ^snorql/index.html(.*)$ snorql/index.html$1 [L]

	Options +FollowSymLinks
	RewriteRule ^feeds(.*) feeds$1 [L]
	
	RewriteCond %{REQUEST_FILENAME} !-d
    	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^ index.php [L]

</IfModule>
